In [1]:
# Import packages
import pandas as pd
import os
import numpy as np

In [3]:
# Load data
df = pd.read_csv(os.path.join('../data', 'top_cb_ID_earrings_sales.csv'))
df

,shop_id,item_id,source,total_sales,level2_global_be_category,product_title
0,153149358,8442601157,Other CB,9046,Earrings,Anting Rumbai Panjang Hias Mutiara Berlian Imi...
1,70841363,1703110270,CNCB,5428,Earrings,1 Pair Ear Hooks Earhook Silicone Silicon Peng...
2,214449679,7622635875,Other CB,4596,Earrings,Ear Clip Without Ear Hole Immortal Spirit Sen ...
3,64102675,1392352937,CNCB,2053,Earrings,[Bayar Di Tempat]1 Pasang Anting Tusuk Berlian...
4,140729566,4195778888,Other CB,1846,Earrings,Anting Titanium Anti Karat Wanita 1 Pasang 14k...
...,...,...,...,...,...,...
995,40204942,16992872315,Other CB,0,Earrings,Better 12PCS/Set Kristal Berlian Imitasi Ear S...
996,757738921,17969987492,CNCB,0,Earrings,Anting Bentuk U Bahan S925 Silver Needle Aksen...
997,184864896,20272688601,Other CB,0,Earrings,♥ Aimelbie Perhiasan Korea ♥Anting vMoonlight ...
998,460954222,20488068283,Other CB,0,Earrings,Upstopid Anting Natal Wanita Hewan Menjuntai K...
999,361955118,12165701102,CNCB,0,Earrings,HOT Fashion zircon earrings European and Ameri...

In [5]:
# Descriptive analysis
df.describe()

            shop_id       item_id  total_sales
count  1.000000e+03  1.000000e+03  1000.000000
mean   3.216066e+08  1.496446e+10    50.165000
std    2.523883e+08  6.157130e+09   391.723506
min    8.497333e+06  7.566860e+08     0.000000
25%    1.395392e+08  9.963399e+09     0.000000
50%    2.610774e+08  1.617371e+10     1.000000
75%    4.145405e+08  2.026658e+10     5.000000
max    9.732506e+08  2.394187e+10  9046.000000